<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingDetailsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008ECCEC1E6E9E1800FE5A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008ECD051E6E9E1900FE5A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008ECD101E6E9E1900FE5A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
